body{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url();
    
    }
  
  .container{
    margin-left: 30%;
    margin-top: 8%;
    cursor: pointer;
  }
  
  .profile-container{
    height: 500px;
    width: 40%;
    display: block;
    border-radius: 25px 25px 25px 25px;
    background-color: #fff;
    box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);
  
    }
  
  
  .empty{
    width: 100%;
    background-image: url("bg-pattern-card.svg");
    height: 160px;
    border-radius: 25px 25px 0px 0px;
    background-color: #F8F0E3 ;
  }
  
  .anagha{
    border-radius: 500px;
    margin-bottom: 1em;
  
  }
  
  .profile-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-25%);
    z-index: 9;
  }
  .name{
      color: hsl(229, 23%, 23%);  
    font-weight: 900;
    line-height: 0;
    
  }
  .column {
    margin-left: 5px;
    margin-top: 75px;
    float: left;
    width:30%;
    padding: 4px;
  }
  
  
  .row::after {
    
    content: "";
    clear: both;
    display: table;
  }
  .social{
    font-weight:200;
    font-color:#666362;
  }
  